form {
  display: grid;
  @media (min-width: 500px) {
    grid-template-columns: 45% 45%;
    grid-template-rows: 20% 55% 10%;
  }
  height: 55vh;
  @media (max-width: 499px) {
    grid-template-columns: 1fr;
    grid-template-rows: 13% 13% 40% 8% 8%;
    height: 60vh;
  }
  width: 100%;
  gap: 7%;
  input,
  textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid;
    border-radius: 5px;
  }
  textarea {
    font-family: inherit;
    resize: none;
  }
  div {
    input {
      height: 100%;
    }
    &:last-of-type {
      @media (min-width: 500px) {
        grid-column: 1 / span 2;
      }
      height: 100%;
      textarea {
        height: 100%;
      }
    }
  }
  [type="submit"] {
    grid-column: 2 / span 1;
    @media (max-width: 499px) {
      grid-column: 1 / span 1;
    }
    cursor: pointer;
    border-radius: 5px;
  }
  @media (max-width:499px) {
    p {
      grid-row: 5;
    }
  }

}
