header {
  border-radius: 50%;
  width: 1100px;
  height: 1100px;
  position: relative;
  transform: translateY(-65%);

  margin: 0 auto;
  margin-bottom: -700px;
  @include flex(flex-start);
  flex-direction: column;
  padding-top: 37%;

  
  #menu {
    display: none;
  }
  div {
    @include flex(center);
    flex-direction: column;
  }
  h1 {
    font-family: $headerfont;
    font-size: 4.5em;
    font-weight: bold;
    width: fit-content;
    position: absolute;
    top: 50%;
    margin-top: 25%;

    div {
      height: 3px;
      width: 90%;
      position: absolute;
      bottom: 19%;
      right: 0;
      border-radius: 5px;
    }
  }
  h2 {
    font-size: 2em;
    position: absolute;
    top: 62%;
    margin-top: 26%;
  }
  nav {
    width: 100%;
    font-family: $monospacefont;
    letter-spacing: .2em;

    position: absolute;
    top: 730px;
    z-index: 10;

    
    ul {
      @include flex(space-evenly, center);
      width: 100%;
      li {
        text-align: center;
        flex-grow: 1;
        div {
          @include flex(flex-start, center);
          flex-direction: row;
          flex-wrap: nowrap;
          overflow: hidden;
          min-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  header {
    width: 800px;
    height: 800px;
    margin-bottom: -500px;
  }
  h1 {
    top: 45% !important;
    margin-top: 20%;
    font-size: 4em !important;
  }
  nav {
    top: 530px !important;
  }
}

@media screen and (max-width: 811px) {
  header {
    width: 650px;
    height: 650px;
    margin-bottom: -400px;
  }
  h1 {
    top: 45% !important;
    margin-top: 20%;
    font-size: 3em !important;
  }
  header {
    h2 {
      font-size: 1.5em;
    }
    nav {
      margin-top: -100px;
      font-size: 1.5em;
      position: absolute;
      right: 0;
      z-index: 5;
      height: 200px;
      width: 0;
      border: 0 solid transparent;
      display: none;

      ul {
        visibility: hidden;
        padding: 1%;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        width: 0;
        li {
          font-size: .7em;
          text-align: left;
          height: 25%;
          padding-left: 5%;
          min-width: 48vw;
          overflow: hidden;
          @include flex(flex-start, center)
        }
      }
    }
    #menu {
      & + label {
        background-color: transparent;
        height: 25px;
        width: 30px;
        position: absolute;
        right: 8%;
        top: 430px;
        margin-top: 2%;
        @include flex(space-between, center);
        flex-direction: column;
        z-index: 10;
        cursor: pointer;
        div {
          height: 3px;
          width: 100%;
          background-color: white;
          border-radius: 20px;
          @include transition(background-color transform, 400ms, ease-in-out);
        }
      }
      &:checked + label {
        div {
          &:first-of-type {
            transform: translateY(calc(11px)) rotate(45deg);
          }
          &:nth-of-type(2) {
            transform: rotate(135deg);
          }
          &:last-of-type {
            transform: translateY(calc(-11px)) rotate(-45deg);
          }
        }

        & + nav {
          display: block;
          width: 40vw;
          top: 430px ;
          right: 5%;
          border: 2px solid;
          @include transition(width, 400ms, ease-in);
          ul {
            visibility: visible;
            width: 100%;
            li {
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  header {
    width: 500px;
    height: 500px;
    margin-bottom: -300px;
    h1 {
      font-size: 2.5em !important;
    }
    h2 {
      font-size: 1.5em;
    }
  }
  #menu + label {
    top: 325px !important;
  }
  #menu:checked + label + nav {
    margin-top: -200px;
    width: 70vw !important;
  }
}

@media screen and (max-width: 370px) {
  header {
    width: 285px;
    height: 285px;
    margin-bottom: -150px;

    h1 {
      font-size: 1.7em !important;
      div {
        height: 1px;
      }
    }
    h2 {
      font-size: 0.8em;
    }
    nav {
      font-size: 1em;
    }
  }
  #menu + label {
    margin-top: -134px !important;
  }
  #menu:checked + label + nav {
    margin-top: -345px;
    ul {
      width: 100%;
      li {
        min-width: 80vw !important;
        font-size: 1em;
      }
    }
  }
}
@media screen and (max-width: 500px) and (min-width:370px) {
  header {
    width: 368px;
    height: 368px;
    margin-bottom: -245px;
    h1 {
      @media (min-width: 370px){
        font-size: 1.8em !important;
      }
    }
    h2 {
      font-size: 1em;
    }
  }
  #menu + label {
    margin-top: -75px !important;
  }
  #menu:checked + label + nav {
    margin-top: -290px;
  }
}


