.bodySection {
  width: 80%;
  ul {
    align-self: flex-start;
    line-height: 3;
    letter-spacing: 0.15vw;
    font-size: 1.2em;
    margin: 2em 0 1em 0;
  }
  margin: 2% auto;
  padding: 1% 0;
  div {
    @include flex;
  }
  h3 {
    @media (min-width: 812px) {
      font-size: 4em;
    }
    font-family: $monospacefont;
    letter-spacing: 0.1em;
    padding: 1vh 0vw;
    width: 100%;
  }
  p,
  label {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    letter-spacing: 0.15vw;
    font-size: 1.2em;
    text-align: justify;
    width: 100%;
  }
}
#techImages {
  margin-top: 3%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  @include flex(space-evenly, center);
  img {
    width: 150px;
    @media (max-width:348px) {
      width: 100px;
    }
  }
}
#contactBox {
  display: grid;
  grid-template-columns: 100%;
  @media (min-width: 1052px) {
    grid-template-rows: 1fr;
    grid-template-columns: 55% 45%;
  }

  width: 100%;
  & > div {
    width: 100%;
  }
  margin-top: 3%;
  & > div:last-of-type {
    height: 100%;
    @include flex(flex-start);
    align-self: start;
    @media (min-width: 1052px) {
      ul {
        align-self: flex-end;
        margin: 0;
        li {
          @include flex(baseline, center);
          svg {
            margin-right: .5em;
          }
        }
      }
    }
    @media (max-width:320px) {
      svg {
        display: none;
      }
    }
    ul {
      width: 100%;
      li {
        @include flex(baseline, center);
        svg {
          margin-right: .5em;
        }
      }
    }
  }
}
.backToTop {
  margin-top: 2em;
  text-align: center;
  @include flex;
}
@media screen and (max-width: 811px) {
  .bodySection {
    width: 90%;
  }
  h3 {
    font-size: 3em;
  }
  p {
    @media (min-width: 670px) {
      font-size: 1em;
    }
  }
}
@media screen and (max-width: 670px) {
  h3 {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  #contact {
    li a {
      display: block;
      font-size: 0.75em;
    }
  }
  .bodySection {
    p {
      font-size: 1em;
    }
  }
}
