.bodySection {
  // min-height: 95vh;
  width: 80%;
  // &:first-of-type {
  // margin-top: -100%;
  // }
  ul {
    align-self: flex-start;
    line-height: 3;
    letter-spacing: 0.15vw;
    font-size: 1.2em;
    margin: 2em 0 1em 0;
  }
  margin: 2% auto;
  padding: 1% 0;
  div {
    @include flex;
  }
  h3 {
    @media (min-width: 812px) {
      font-size: 4em;
    }
    font-family: $monospacefont;
    letter-spacing: 0.1em;
    padding: 1vh 0vw;
    width: 100%;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    letter-spacing: 0.15vw;
    // @media (min-width: 812px) {
    //   font-size: 1.2em;
    // }
    font-size: 1.2em;
    text-align: justify;
    width: 100%;
  }
}
.backToTop {
  margin-top: 2em;
  text-align: center;
  @include flex;
}
@media screen and (max-width: 811px) {
  .bodySection {
    width: 90%;
  }
  h3 {
    font-size: 3em;
  }
  p {
    @media (min-width: 670px) {
      font-size: 1em;
    }
  }
}
@media screen and (max-width: 670px) {
  h3 {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  #contact {
    li a {
      display: block;
      font-size: 0.75em;
    }
  }
  .bodySection {
    p {
      font-size: 1em;
    }
  }
}
